[forward-to-pc]
; receiving computer IP address as configured in Forward to PC IP
ip = 0.0.0.0
; gps ports as configured in Forward to PC GPS slot ports
gps1_port = 30003
gps2_port = 30004
; define host list to forward received packets on the same ports
; gps1 packets will be forwarded to each host on port 30003
; gps2 packets will be forwarded to each host on port 30004
; forward_to=host1,host2

[hyteratak]
; TAK server address, use udp broadcast
url = broadcast://239.2.3.1
; other connection methods
; udp with host:port
; url=udp://192.168.1.0:1234
; tcp with host:port
; url=tcp://192.168.1.0:2345

; CoT defaults for all radios
type = a-f-G-U-C
stale = 3600
group = Green
role = Team Member

[100]
; Radio ID 100 specific config
type = a-f-G-U-C
stale = 600
group = Green
role = Medic
name = Medic 100
uid = Medic-100
